<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <section id="section-1">
        <div class="row">
            <div id="landing-image">
                <img src="images/main2.png" alt="">
            </div>
            <div id="cont">
                <h1>PRASHANT KAUSHAL</h1>
                <p>Hello I’m a graphic Designer. Recently i’m pursuing B.tech in computer science in MANIT Bhopal. I’m also at the position of Creative Head in ISTE SC MANIT.</p>
            </div>
           
        </div>
    </section>
    <section id="section-2">
        <div class="row">
            <h1>
                Poster Designs
            </h1>
            <div class="posters">
                <img src="images/main1.jpg" alt="poster-1" class="img-1">
                <img src="images/main2.jpg" alt="poster-2" class="img-2">
                <img src="images/main3.jpg" alt="poster-3" class="img-3">
            </div>
        </div>
    </section>
    <section id="section-3">
        <div class="row">
            <h1 id="About">
                About
            </h1>
            <p>
                hello, This is Prashant Kaushal, I'm an undergraduate pursuing B.tech in Computer Science and Engineering from Maulana Azad National Institute of Technology, Bhopal.I'm also keen in graphic Designing and creative work.I made this website using my technical skills.
            </p>
        </div>
    </section>
    <section id="section-4">
        <div class="row">
            <h1 id="Contact">
                Contact
            </h1>
            <p>
                Residential Address : GL-1375 Deen Dayal Nagar ,Gwalior Madhya Pradesh India <br>
                Mobile No. : 8517884936 <br>
                Email : prashant9154@gmail.com <br>
                Social Media : <a href="https://www.instagram.com/prashal_9154/" target="_blank"><img src="images/social1.png" alt="insta"></a>
                <a href="https://www.linkedin.com/in/prashant-kaushal-a13244176/" target="_blank"><img src="images/social2.png" alt="linkedin"></a>
                <a href="https://www.facebook.com/prashant.kaushal.71216/" target="_blank"><img src="images/social3.png" alt="fb"></a>
            </p>
        </div>
    </section>
    {{>footer}}
</body>
</html>