<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <section id="section-mywork">
        <h1>
            My Work
        </h1>
        <div class="content">
            <a href="images/p (2).jpg"><img src="images/p (2).jpg" alt=""></a>
            <a href="images/p (18).jpg"><img src="images/p (18).jpg" alt=""></a>
            <a href="images/p (3).jpg"><img src="images/p (3).jpg" alt=""></a>
            <a href="images/p (10).jpg"><img src="images/p (10).jpg" alt=""></a>
            <a href="images/p (11).jpg"><img src="images/p (11).jpg" alt=""></a>
            <a href="images/p (4).jpg"><img src="images/p (4).jpg" alt=""></a>
            <a href="images/p (9).jpg"><img src="images/p (9).jpg" alt=""></a>
            <a href="images/p (5).jpg"><img src="images/p (5).jpg" alt=""></a>
            <a href="images/p (7).jpg"><img src="images/p (7).jpg" alt=""></a>
            <a href="images/p (14).jpg"><img src="images/p (14).jpg" alt=""></a>
            <a href="images/p (8).jpg"><img src="images/p (8).jpg" alt=""></a>
            <a href="images/p (12).jpg"><img src="images/p (12).jpg" alt=""></a>
            <a href="images/p (17).jpg"><img src="images/p (17).jpg" alt=""></a>
            <a href="images/p (13).jpg"><img src="images/p (13).jpg" alt=""></a>
            <a href="images/p (20).jpg"><img src="images/p (20).jpg" alt=""></a>
            <a href="images/p (19).jpg"><img src="images/p (19).jpg" alt=""></a>
            <a href="images/p (27).jpg"><img src="images/p (27).jpg" alt=""></a>
            <a href="images/p (32).jpg"><img src="images/p (32).jpg" alt=""></a>
            <a href="images/p (6).jpg"><img src="images/p (6).jpg" alt=""></a>
            <a href="images/p (16).jpg"><img src="images/p (16).jpg" alt=""></a>
            <a href="images/p (25).jpg"><img src="images/p (25).jpg" alt=""></a>
            <a href="images/p (30).jpg"><img src="images/p (30).jpg" alt=""></a>
            <a href="images/p (24).jpg"><img src="images/p (24).jpg" alt=""></a>
            <a href="images/p (33).jpg"><img src="images/p (33).jpg" alt=""></a>
            <a href="images/p (21).jpg"><img src="images/p (21).jpg" alt=""></a>
            <a href="images/p (23).jpg"><img src="images/p (23).jpg" alt=""></a>
            <a href="images/p (28).jpg"><img src="images/p (28).jpg" alt=""></a>
            <a href="images/p (29).jpg"><img src="images/p (29).jpg" alt=""></a>
            <a href="images/p (31).jpg"><img src="images/p (31).jpg" alt=""></a>
            <a href="images/p (22).jpg"><img src="images/p (22).jpg" alt=""></a>
            
        </div>
    </section>
    {{>footer}}
</body>
</html>