*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* header section including navbar  */

header .row{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto 30px;
    margin-top: 25px;
}

header img{
    width: 8vw;
    margin-right: 553px;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px 40px;
}

header li{
    list-style: none;
    padding: 3px;
    position: relative;
}

header li a{
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 12px;
    font-size: 1.2rem;
    font-weight: bold;
}
header li a:hover{
    color: #fc1281;
}

header::before{
    position: absolute;
    width: 100vw;
    height: 564px;
    top: 0px;
    content: "";
    background: url("images/mainmywork.png") no-repeat center center/cover;
    z-index: -1;
}

/* My work section  */

#section-mywork {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section-mywork h1{
    font-size: 3rem;
    margin: 80px 0px 30px 0px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

#section-mywork img{
    width: 26.5vw;
    padding: 20px;
    transition: transform .2s;
}
#section-mywork img:hover{
    transform: scale(1.05);
}

/* seciton-5 footer section */

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
