<footer>
    
    <p id="foot">
        © Copyright 2021 www.prashalMyPortfolio.com. All rights reserved. created by Prashant Kaushal
         {{!-- <a href="/#" style="color:rgb(255, 56, 149); text-decoration:none; float:right;"><h1 style="font-weight:800;">^</h1></a> --}}
    </p>
    
</footer>