* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* header section including navbar  */

header .row {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto 30px;
    margin-top: 25px;
}

header img {
    width: 8vw;
    margin-right: 553px;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header li {
    list-style: none;
    padding: 3px;
    position: relative;
}

header li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 12px;
    font-size: 1.2rem;
    font-weight: bold;
}

header li a:hover {
    color: #fc1281;
}

header::before {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 564px;
    content: "";
    background: url("images/mainmywork.png") no-repeat center center/cover;
    z-index: -1;
}


/* My RESUME section  */

#section-myresume {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-myresume h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

#section-myresume p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

#download-resume {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}

#section-myresume a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 15px 42px;
    background-color: rgb(15, 131, 167);
    border-radius: 4px;
}

#tech {
    background-color: rgb(13, 101, 128);
    margin-bottom: 10px;
}

#section-myresume a:hover {
    background-color: #630c34;
}

#download-resume img {
    width: 50vw;
    box-shadow: 0px 0px 22px rgb(0 0 0 / 25%);
    margin-right: 150px;
    margin-bottom: 50px;
}


/* seciton-5 footer section */

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}